@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c92d2, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c92d2, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif; }

.container .row .col-md-6 {
  margin-top: 10em;
  padding: 2em; }
  .container .row .col-md-6 .box {
    border-radius: 1em;
    background: white;
    -webkit-box-shadow: -2px 2px 13px 6px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 2px 13px 6px rgba(0, 0, 0, 0.29);
    box-shadow: -2px 2px 13px 6px rgba(0, 0, 0, 0.29); }
    .container .row .col-md-6 .box form {
      padding: 0.5em;
      padding-top: 50px;
      padding-bottom: 50px; }
      .container .row .col-md-6 .box form img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%; }
      .container .row .col-md-6 .box form h3 {
        font-weight: bold;
        text-align: center; }
      .container .row .col-md-6 .box form input[type=tel]{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 25px;
        border: 1px solid dodgerblue; }
        .container .row .col-md-6 .box form input[type=number]{
          width: 100%;
          display: block;
          text-align: center;
          margin: 0;
          margin-top: 25px;
          border: 1px solid dodgerblue; 
        }
      .container .row .col-md-6 .box form input[type=submit] {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top:0px;
        border: none;
        outline: none;
        display: block; 
        margin-top: 20px;
      }

        .container .row .col-md-6 .box form div{
          margin: 30px; 
        } 

/*# sourceMappingURL=style.css.map */
